@model WordListModel

@{
	ViewData["Title"] = "Žodžių sąrašas";
}

<div class="text-left">

	<form asp-action="Search" method="get">
		<div class="form-actions no-color">
			<p>
				<input type="text" name="inputWord" placeholder="Žodis ar jo dalis" value="@ViewData["CurrentWord"]" />
				<input type="submit" value="Ieškoti" class="btn btn-default" />
			</p>
		</div>
	</form>

	<ul>
		@foreach (var word in @Model.CurrentPageWords)
		{
			<li><a href="@Url.Action("Get", "Anagrams", new { inputWord = @word })">@(word)</a></li>
		}
	</ul>

	<div>
		@if (Model.TotalPages > 1)
		{
			@for (var page = 1; page <= Model.TotalPages; page++)
			{
				<a href="?page=@(page)&inputWord=@ViewData["CurrentWord"]" class="@(Model.CurrentPage == page ? "active" : "")">@(page)</a>
			}
		}
	</div>

</div>
