@model GetAnagramsResultModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        .clickable-icon {
            cursor: pointer; /* Change the cursor to a pointer (finger) */
        }
    </style>
</head>

@{
    ViewData["Title"] = "Anagramos";
}

<div class="text-left">

    <h2>@Model.WordAndAnagrams.Word</h2>

    @if (Model.WordAndAnagrams.WordId > 0)
    {
        <i class="material-icons clickable-icon editForm" style="font-size:18px;color:grey">edit</i>

        <a href="@Url.Action("Delete", "Word", new {wordId = @Model.WordAndAnagrams.WordId, word = Model.WordAndAnagrams.Word})" title="Delete">
            <i class="material-icons" style="font-size:18px;color:grey">delete</i>
        </a>
    }

    <p>@ViewData["Message"] </p>

    <div id="editForm" style="display: @(ViewData["IsFormVisible"] as bool? == true ? "block" : "none")">
        <form asp-controller="Word" asp-action="Update" method="post">
            <div class="form-actions no-color">
                <p>
                    <input type="text" name="newForm" value="@((ViewData["newForm"] != null) ? ViewData["newForm"] : Model.WordAndAnagrams.Word)" />
                    <input name="wordId" value=@Model.WordAndAnagrams.WordId type="hidden" />
                    <input name="oldForm" value=@Model.WordAndAnagrams.Word type="hidden" />
                    <input type="button" value="Atmesti" class="btn btn-default editForm" />
                    <input type="submit" value="Išsaugoti" class="btn btn-default" />
                </p>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".editForm").click(function (event) {
                event.preventDefault();
                var formDiv = document.getElementById("editForm");
                formDiv.style.display = formDiv.style.display === "none" ? "block" : "none";

                var isVisible = formDiv.style.display === "block";
                $.post("/Word/ToggleFormVisibility", { isVisible: isVisible }, function (data) {
                    console.log("Form visibility updated.");
                });
            });
        });
    </script>

    @if (Model.ErrorMessages.Contains(ErrorMessageEnum.SearchLimit))
    {
        <p>
            Anagramų paieškų limitas iš šio IP adreso išnaudotas. Nori daugiau paieškų?
            <a asp-area="" asp-controller="NewWord" asp-action="Index"> Įtrauk naują žodį.</a>
        </p>
    }

    else if (Model.WordAndAnagrams.Anagrams.Count() > 0)
    {
        <p>Anagramos:</p>
        <ul>
            @foreach (var item in @Model.WordAndAnagrams.Anagrams)
            {
                <li>@item</li>
            }
        </ul>
    }
    else
    {
        <p> Deja, anagramų žodis neturi.</p>
    }

</div>