@model UserInfoViewModel

@{
	ViewData["Title"] = "Info apie tave";
}

<div class="text-left">

	<header>Šiek tiek apie paskutinę paiešką:</header>
	<p></p>

	<ul>
		<li>
			<p>IP adresas: @Model.Ip</p>
		</li>
		<li>
			<p>Paieškos data ir laikas: @Model.SearchDateTime</p>
		</li>
		<li>
			<p>Ieškotas žodis: @Model.AnagramWords.Word</p>
		</li>
		<li>
			@if (Model.AnagramWords?.Word != null && Model.AnagramWords?.Anagrams.Count() > 0)
			{
				<p>Jo anagramos:</p>
				<ul>
					@foreach (var item in @Model.AnagramWords.Anagrams)
					{
						<li>@item</li>
					}
				</ul>
			}
			else
			{
				<p> Anagramų žodis neturi.</p>
			}
		</li>
	</ul>
</div>
